# Deliberate choice: Do not sync changes to our default workspace
.obsidian/workspace.json

# Deliberate choice: I would like to tell git to ignore every submodule dependency, but for now list them
00_Meta/**


